{% extends "front_end/layout.html" %}
{% block content %}
<div class="jumbotron">
  <p class="lead">O365 Notebook Creation/deletion using Graph-API</p>
  {% if user.is_authenticated %}
    <h4>Welcome {{ user.name }}!</h4>
    <h4> create a note book</h4>
  <form action="{% url 'app:createnb' %}" method="post">{% csrf_token %}
    <input type="text" placeholder='Notebook name' name="notebook_name"></input>
    <input type="submit" class="btn btn-primary btn-large" value="Create a Notebook"/>
  </form>
</br>
<h4> Get a Notebook list </h4>
    <a href="{% url 'app:getnb' %}" class="btn btn-primary btn-large"> Get a Notebook </a>
  {% else %}
    <a href="{% url 'app:signin' %}" class="btn btn-primary btn-large">Click here to sign in</a>
  {% endif %}
</div>
{% endblock %}